<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
    
  <filter>  
        <filter-name>setCharacterEncoding</filter-name>  
        <filter-class>servlet.filter</filter-class>
    </filter>  
    <filter-mapping>  
        <filter-name>setCharacterEncoding</filter-name>  
        <url-pattern></url-pattern>  
    </filter-mapping>
    
     
     <servlet>
    <servlet-name>receiveEmaillistServlet</servlet-name>
    <servlet-class>servlet.receiveEmaillistServlet</servlet-class>
   </servlet>
     <servlet-mapping>
    <servlet-name>receiveEmaillistServlet</servlet-name>
    <url-pattern>/html/servlet/receiveEmaillistServlet</url-pattern>
  </servlet-mapping>
    
    
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>servlet.indexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sendServlet</servlet-name>
    <servlet-class>servlet.sendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getSession</servlet-name>
    <servlet-class>servlet.getSession</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>exit</servlet-name>
    <servlet-class>servlet.exit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sendfileServlet</servlet-name>
    <servlet-class>servlet.sendfileServlet</servlet-class>
    <init-param> 
     	<param-name>filepath</param-name> 
        <param-value>WEB-INF/upload</param-value> 
    </init-param> 
     <init-param> 
        <param-name>temppath</param-name> 
        <param-value>WEB-INF/tmp</param-value> 
     </init-param> 
    
  </servlet>





  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/html/servlet/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendServlet</servlet-name>
    <url-pattern>/html/servlet/sendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getSession</servlet-name>
    <url-pattern>/html/servlet/getSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exit</servlet-name>
    <url-pattern>/html/servlet/exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendfileServlet</servlet-name>
    <url-pattern>/html/servelt/sendfileServlet</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>html/login.html</welcome-file>
  </welcome-file-list>
</web-app>
